/*CSS design*/
body {
  margin-top: 80px;
  padding: 0;
  text-align: center;
}
header {
  background-color: #fffed6;
  color: black;
  padding: 30px 10px;
  text-align: center;
  border-bottom: 4px solid #b84242;
  border-top: 4px solid #b84242;
}

header h1 {
  font-size: 30px;
  margin: 0;
  letter-spacing: 1px;
}
.container {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  background-color: #b84242;
  border: 2px solid black;
  border-radius: 12px;
  padding: 10px;

  display: flex;
  justify-content: center;
  gap: 20px;

  z-index: 1000;
}
nav a {
  margin: 10px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  padding: 20px;
}

.flex-box {
  display: flex;
  gap: 20px;
}

img {
  border: 4px solid #6e1717;       
  outline: 4px dashed #fff9bd;
  max-width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 10px;
}

footer {
  background-color: red;
  color: white;
  text-align: center;
  padding: 10px;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}
.red-line {
  margin-bottom: 20px;
  width: 100%;
  height: 20px;
  background-color: #d97575;
}

.yellow-line {
  margin-bottom: 20px;
  width: 100%;
  height: 15px;
  background-color: #fffca6;
}
img.wide {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
ul.red {
  list-style-type: none;
  padding: 0;
}

ul.red li {
  list-style-type: none;
  background-color: #f5b5b5;
  color: black;
  margin: 10px 0;
  padding: 15px;
  border-radius: 8px;
}