/*CSS design*/
body {
  margin: 0;
  padding: 0;
  text-align: center;
}
.container {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  background-color: #b84242;
  border: 2px solid black;
  border-radius: 12px;
  padding: 10px;

  display: flex;
  justify-content: center;
  gap: 20px;

  z-index: 1000;
}
nav a {
  margin: 10px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  padding: 20px;
}

.flex-box {
  display: flex;
  gap: 20px;
}

img {
  border: 4px solid red;       
  outline: 4px dashed yellow;
  max-width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 10px;
}

footer {
  background-color: red;
  color: white;
  text-align: center;
  padding: 10px;
}

.simple-list {
  list-style-type: square;
}

.complex-list ul {
  list-style-type: circle;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}
.red-line {
  width: 100%;
  height: 15px;
  background-color: red;
}

.yellow-line {
  width: 100%;
  height: 15px;
  background-color: yellow;
}
img.wide {
  width: 100%;
  height: 200px;
  object-fit: cover;
}