body {
    font-family: Arial, sans-serif;
    line-height: 1.2;
    margin: 20px;
    background-color: #f9f9f9;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

.step {
	text-align: center;
    background-color: #fff;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

.step img {
    display: block;
    margin: 10px auto;
    border: 1px solid black;
}

.video {
    text-align: center;
    margin-top: 30px;
}
