body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    text-align: center;
}

h1 {
    color: #2a2a2a;
}

.scorecard {
    margin: 20px auto;
    border-collapse: collapse;
    width: 80%;
}

.scorecard th, .scorecard td {
    border: 1px solid black;
    padding: 10px;
}

.scorecard th {
    background-color: #4CAF50;
    color: white;
}

.scorecard tbody tr:nth-child(even) {
    background-color: #f2f2f2; /*diff table colors*/
}

.scorecard tbody tr:hover {
    background-color: #ddd; /*hover effect */
}