body {
    font-family: Arial, sans-serif;
    background-color: #f7f7cd;
    text-align: center;
}

h1 {
    color: #7a201a;
}

.scorecard {
    margin: 20px auto;
    border-collapse: collapse;
    width: 80%;
}

.scorecard th, .scorecard td {
    border: 1px solid black;
    padding: 10px;
}

.scorecard th {
    background-color: #f5d81d;
    color: white;
}

.scorecard tbody tr:nth-child(even) {
    background-color: #fae4d7; /*diff table colors*/
}

.scorecard tbody tr:hover {
    background-color: #f2a196; /*hover effect */
}